@mixin pre-highlight-variant($value) {
  $color: map-get($value, "color");
  $background-color: map-get($value, "background");
  $is-bold: map-get($value, "bold");
  $is-italic: map-get($value, "italic");
  $nested-token: map-get($value, "nested-token");

  @if $color {
    color: $color;
  }
  @if $background-color {
    background-color: $background-color;
  }
  @if $is-bold {
    font-weight: bold;
  }
  @if $is-italic {
    font-style: italic;
  }
  @if $nested-token {
    $nested-token-selector: map-get($nested-token, "token");

    .#{$nested-token-selector} {
      @include pre-highlight-variant($nested-token);
    }
  }
}
@mixin pre-highlight-selectors($theme, $value) {
  @include pre-highlight-variant($value);

  @each $selector-type, $selectors in map-get($value, "selectors") {
    @each $token-type, $token in $selectors {
      $token-selector: map-get($token, "token");
      $nested-token: map-get($token, "nested-token");

      .#{$token-selector} {
        @include pre-highlight-variant($token);
      }
    }
  }
}
