@mixin headings-variant(
  $font-size,
  $line-height,
  $margin: null,
  $padding-bottom: null,
  $color: null
) {
  font-size: $font-size;
  line-height: $line-height;

  @if $margin {
    margin: $margin;
  }
  @if $padding-bottom {
    padding-bottom: $padding-bottom;
    border-bottom: $border-width solid $border-color;
  }
  @if $color {
    color: $color;
  }
}
