@import "true";
@import "scss/variables/functions-variables";
@import "scss/functions";

@include describe("multiple-units-rem [function]") {
  @include it("converts multiple unitless numbers to rem") {
    @include assert-equal(multiple-units-rem(16 14), 1rem 0.875rem);
  }
  @include it("converts multiple px numbers to rem") {
    @include assert-equal(multiple-units-rem(16px 14px), 1rem 0.875rem);
  }
  @include it("returns 0 instead of 0 rem") {
    @include assert-equal(multiple-units-rem(0 0), 0 0);
  }
}
