@import "true";
@import "scss/variables/functions-variables";
@import "scss/functions";

@include describe("px-to-rem [function]") {
  @include it("converts single numbers to rem") {
    @include assert-equal(px-to-rem(16), 1rem);
  }
  @include it("converts multiple numbers to rem") {
    @include assert-equal(px-to-rem(16px 14), 1rem 0.875rem);
  }
  @include it("returns multiple numbers of different units") {
    @include assert-equal(px-to-rem(0 16px 1rem), 0 1rem 1rem);
  }
}
