@import "true";
@import "scss/variables/functions-variables";
@import "scss/functions";

@include describe("single-unit-rem [function]") {
  @include it("converts a untiless number to rem") {
    @include assert-equal(single-unit-rem(16), 1rem);
  }
  @include it("converts px number to rem") {
    @include assert-equal(single-unit-rem(16px), 1rem);
  }
  @include it("returns 0 instead of 0 rem") {
    @include assert-equal(single-unit-rem(0), 0);
  }
  @include it("returns a rem value when a rem number is passed") {
    @include assert-equal(single-unit-rem(1rem), 1rem);
  }
}
