@import "true";
@import "scss/variables";
@import "scss/functions";

@include describe("strip-unit [function]") {
  @include it("removes unit from a number") {
    @include assert-equal(strip-unit(14px), 14);
  }
  @include it("returns unitless value when a unitless number is passed") {
    @include assert-equal(strip-unit(0), 0);
  }
}
