<code><span id="LC1" class="line" lang="javascript"><span class="c1">// vim: ft=javascript</span></span>
<span id="LC2" class="line" lang="javascript"></span>
<span id="LC3" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myFloat</span> <span class="o">=</span> <span class="mf">0.123</span><span class="p">;</span></span>
<span id="LC4" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myOctal</span> <span class="o">=</span> <span class="mh">0x123</span><span class="p">;</span></span>
<span id="LC5" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myRegex</span> <span class="o">=</span> <span class="sr">/asdf/</span><span class="p">;</span></span>
<span id="LC6" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myComplicatedRegex</span> <span class="o">=</span> <span class="sr">/.</span><span class="se">[</span><span class="sr">.</span><span class="se">](?=</span><span class="sr">x</span><span class="se">\h\[[</span><span class="sr">)</span><span class="se">])[^</span><span class="sr">.{}abc</span><span class="se">]</span><span class="sr">{foo}</span><span class="se">{3,}</span><span class="sr">x</span><span class="se">{2,3}</span><span class="sr">/</span></span>
<span id="LC7" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myObject</span> <span class="o">=</span> <span class="p">{</span> <span class="na">a</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span> <span class="na">b</span><span class="p">:</span> <span class="mi">2</span> <span class="p">}</span></span>
<span id="LC8" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">someText</span> <span class="o">=</span> <span class="s2">"hi"</span><span class="p">;</span></span>
<span id="LC9" class="line" lang="javascript"><span class="nx">someText</span> <span class="o">+=</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">there"</span><span class="p">;</span></span>
<span id="LC10" class="line" lang="javascript"></span>
<span id="LC11" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">test</span> <span class="o">=</span> <span class="mi">123</span></span>
<span id="LC12" class="line" lang="javascript"></span>
<span id="LC13" class="line" lang="javascript"><span class="k">switch</span><span class="p">(</span><span class="nx">test</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC14" class="line" lang="javascript"><span class="k">case</span> <span class="mi">123</span><span class="p">:</span></span>
<span id="LC15" class="line" lang="javascript">  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="mi">123</span><span class="p">)</span></span>
<span id="LC16" class="line" lang="javascript">  <span class="k">break</span></span>
<span id="LC17" class="line" lang="javascript"><span class="k">default</span><span class="p">:</span></span>
<span id="LC18" class="line" lang="javascript">  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'default'</span><span class="p">)</span></span>
<span id="LC19" class="line" lang="javascript">  <span class="k">break</span></span>
<span id="LC20" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC21" class="line" lang="javascript"></span>
<span id="LC22" class="line" lang="javascript"><span class="k">switch</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC23" class="line" lang="javascript">  <span class="k">case</span> <span class="p">{</span> <span class="na">foo</span><span class="p">:</span> <span class="mi">1</span> <span class="p">}.</span><span class="nx">foo</span><span class="p">:</span></span>
<span id="LC24" class="line" lang="javascript">    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'oh my fucking god'</span><span class="p">)</span></span>
<span id="LC25" class="line" lang="javascript">    <span class="k">break</span></span>
<span id="LC26" class="line" lang="javascript">  <span class="k">case</span> <span class="p">{</span> <span class="na">bar</span><span class="p">:</span> <span class="mi">2</span> <span class="p">}.</span><span class="nx">bar</span> <span class="p">?</span> <span class="nx">baz</span><span class="p">:</span> <span class="nx">zot</span><span class="p">:</span></span>
<span id="LC27" class="line" lang="javascript"></span>
<span id="LC28" class="line" lang="javascript">  <span class="k">case</span> <span class="p">{</span> <span class="na">zot</span><span class="p">:</span> <span class="mi">3</span> <span class="p">}.</span><span class="nx">zot</span> <span class="p">?</span> <span class="p">{</span> <span class="na">quux</span> <span class="p">:</span> <span class="mi">4</span> <span class="p">}</span> <span class="p">.</span><span class="nx">quux</span><span class="p">:</span> <span class="mi">5</span><span class="p">:</span></span>
<span id="LC29" class="line" lang="javascript">    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'ahahahahahaha'</span><span class="p">)</span></span>
<span id="LC30" class="line" lang="javascript"></span>
<span id="LC31" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC32" class="line" lang="javascript"></span>
<span id="LC33" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">ternary</span> <span class="o">=</span> <span class="mi">0</span> <span class="p">?</span> <span class="mi">1</span> <span class="p">:</span> <span class="p">{</span><span class="na">object_key</span> <span class="p">:</span> <span class="mi">2</span> <span class="p">?</span> <span class="nx">variable</span> <span class="p">:</span> <span class="mi">3</span> <span class="p">};</span></span>
<span id="LC34" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">ternary2</span> <span class="o">=</span> <span class="nx">a</span> <span class="p">?</span> <span class="p">{</span> <span class="na">object_key</span> <span class="p">:</span> <span class="nx">c</span> <span class="p">}</span> <span class="o">+</span> <span class="nx">variable</span> <span class="p">:</span> <span class="nx">e</span><span class="p">;</span></span>
<span id="LC35" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">ternary3</span> <span class="o">=</span> <span class="nx">a</span> <span class="p">?</span> <span class="p">{</span></span>
<span id="LC36" class="line" lang="javascript">  <span class="na">key1</span> <span class="p">:</span> <span class="nx">var1</span><span class="p">,</span></span>
<span id="LC37" class="line" lang="javascript">  <span class="na">key2</span><span class="p">:</span> <span class="nx">var2</span> <span class="p">?</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span></span>
<span id="LC38" class="line" lang="javascript">    <span class="nl">label1</span><span class="p">:</span> <span class="c1">// break label, not an object key!</span></span>
<span id="LC39" class="line" lang="javascript">    <span class="k">while</span><span class="p">(</span><span class="kc">true</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC40" class="line" lang="javascript">      <span class="k">break</span> <span class="nx">label1</span><span class="p">;</span></span>
<span id="LC41" class="line" lang="javascript">    <span class="p">}</span></span>
<span id="LC42" class="line" lang="javascript"></span>
<span id="LC43" class="line" lang="javascript">    <span class="nl">label2</span><span class="p">:</span> <span class="c1">// also a break label</span></span>
<span id="LC44" class="line" lang="javascript">    <span class="k">while</span> <span class="p">(</span><span class="kc">true</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC45" class="line" lang="javascript">      <span class="k">break</span> <span class="nx">label2</span><span class="p">;</span></span>
<span id="LC46" class="line" lang="javascript">    <span class="p">}</span></span>
<span id="LC47" class="line" lang="javascript">  <span class="p">}</span> <span class="o">+</span> <span class="nx">var3</span><span class="p">:</span> <span class="nx">var4</span><span class="p">,</span> <span class="c1">// ternary, not object key</span></span>
<span id="LC48" class="line" lang="javascript">  <span class="na">key3</span><span class="p">:</span> <span class="s1">'foo'</span></span>
<span id="LC49" class="line" lang="javascript"><span class="p">}</span> <span class="p">:</span> <span class="mi">2</span></span>
<span id="LC50" class="line" lang="javascript"></span>
<span id="LC51" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">a</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC52" class="line" lang="javascript">  <span class="na">num</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span></span>
<span id="LC53" class="line" lang="javascript">  <span class="na">func</span><span class="p">:</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{},</span></span>
<span id="LC54" class="line" lang="javascript">  <span class="na">str</span><span class="p">:</span> <span class="s1">''</span><span class="p">,</span></span>
<span id="LC55" class="line" lang="javascript">  <span class="na">bool</span><span class="p">:</span> <span class="kc">true</span></span>
<span id="LC56" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC57" class="line" lang="javascript"></span>
<span id="LC58" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">obj</span> <span class="o">=</span></span>
<span id="LC59" class="line" lang="javascript">  <span class="p">{</span></span>
<span id="LC60" class="line" lang="javascript">    <span class="c1">// comment</span></span>
<span id="LC61" class="line" lang="javascript">    <span class="na">key</span><span class="p">:</span> <span class="nx">val</span></span>
<span id="LC62" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC63" class="line" lang="javascript"></span>
<span id="LC64" class="line" lang="javascript"><span class="cm">/*!</span></span>
<span id="LC65" class="line" lang="javascript"><span class="cm"> * multiline comment</span></span>
<span id="LC66" class="line" lang="javascript"><span class="cm"> */</span></span>
<span id="LC67" class="line" lang="javascript"></span>
<span id="LC68" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">quotedKeys</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC69" class="line" lang="javascript">  <span class="s2">"one"</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span></span>
<span id="LC70" class="line" lang="javascript">  <span class="s2">"two"</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span></span>
<span id="LC71" class="line" lang="javascript">  <span class="s2">"three"</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span></span>
<span id="LC72" class="line" lang="javascript"><span class="p">};</span></span>
<span id="LC73" class="line" lang="javascript"></span>
<span id="LC74" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">doc</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC75" class="line" lang="javascript">  <span class="s2">"first"</span><span class="p">:</span> <span class="p">{</span></span>
<span id="LC76" class="line" lang="javascript">    <span class="s2">"key"</span><span class="p">:</span> <span class="s2">"value"</span><span class="p">,</span></span>
<span id="LC77" class="line" lang="javascript">    <span class="s2">"func"</span> <span class="p">:</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span></span>
<span id="LC78" class="line" lang="javascript">      <span class="na">label</span><span class="p">:</span></span>
<span id="LC79" class="line" lang="javascript">      <span class="k">while</span> <span class="p">(</span><span class="kc">true</span><span class="p">)</span> <span class="k">break</span> <span class="nx">label</span><span class="p">;</span></span>
<span id="LC80" class="line" lang="javascript"></span>
<span id="LC81" class="line" lang="javascript">      <span class="k">return</span> <span class="nx">foo</span> <span class="p">?</span> <span class="s2">"bar"</span> <span class="p">:</span> <span class="p">{</span> <span class="na">baz</span><span class="p">:</span> <span class="nx">zot</span> <span class="p">}</span></span>
<span id="LC82" class="line" lang="javascript"></span>
<span id="LC83" class="line" lang="javascript">    <span class="p">}</span></span>
<span id="LC84" class="line" lang="javascript"></span>
<span id="LC85" class="line" lang="javascript">  <span class="p">},</span></span>
<span id="LC86" class="line" lang="javascript">  <span class="s2">"hello"</span><span class="p">:</span> <span class="s2">"world"</span></span>
<span id="LC87" class="line" lang="javascript"><span class="p">};</span></span>
<span id="LC88" class="line" lang="javascript"></span>
<span id="LC89" class="line" lang="javascript"><span class="c1">// not an object is OK</span></span>
<span id="LC90" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">doc</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC91" class="line" lang="javascript">  <span class="s2">"first"</span><span class="p">:</span> <span class="s2">"value"</span><span class="p">,</span></span>
<span id="LC92" class="line" lang="javascript">  <span class="s2">"hello"</span><span class="p">:</span> <span class="s2">"world"</span></span>
<span id="LC93" class="line" lang="javascript"><span class="p">};</span></span>
<span id="LC94" class="line" lang="javascript"></span>
<span id="LC95" class="line" lang="javascript"><span class="c1">// not quoted is OK</span></span>
<span id="LC96" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">doc</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC97" class="line" lang="javascript">  <span class="na">first</span><span class="p">:</span> <span class="p">{</span></span>
<span id="LC98" class="line" lang="javascript">    <span class="s2">"key"</span><span class="p">:</span> <span class="s2">"value"</span></span>
<span id="LC99" class="line" lang="javascript">  <span class="p">},</span></span>
<span id="LC100" class="line" lang="javascript">  <span class="s2">"hello"</span><span class="p">:</span> <span class="s2">"world"</span></span>
<span id="LC101" class="line" lang="javascript"><span class="p">};</span></span>
<span id="LC102" class="line" lang="javascript"><span class="nx">Blag</span> <span class="o">=</span> <span class="p">{};</span></span>
<span id="LC103" class="line" lang="javascript"><span class="nx">jQuery</span><span class="p">.</span><span class="nx">noConflict</span><span class="p">();</span></span>
<span id="LC104" class="line" lang="javascript"></span>
<span id="LC105" class="line" lang="javascript"><span class="k">if</span> <span class="p">(</span><span class="nx">cond</span><span class="p">)</span></span>
<span id="LC106" class="line" lang="javascript"><span class="p">{</span></span>
<span id="LC107" class="line" lang="javascript">  <span class="na">label1</span><span class="p">:</span></span>
<span id="LC108" class="line" lang="javascript">  <span class="k">while</span> <span class="p">(</span><span class="nx">cond</span><span class="p">)</span> <span class="k">break</span> <span class="nx">label1</span><span class="p">;</span></span>
<span id="LC109" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC110" class="line" lang="javascript"></span>
<span id="LC111" class="line" lang="javascript"><span class="nx">Blag</span><span class="p">.</span><span class="nx">ReadMore</span> <span class="o">=</span> <span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">$</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC112" class="line" lang="javascript">  <span class="kd">function</span> <span class="nx">getFold</span><span class="p">(</span><span class="nx">button</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC113" class="line" lang="javascript">    <span class="k">return</span> <span class="nx">$</span><span class="p">(</span><span class="nx">button</span><span class="p">).</span><span class="nx">siblings</span><span class="p">(</span><span class="s1">'.fold'</span><span class="p">);</span></span>
<span id="LC114" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC115" class="line" lang="javascript"></span>
<span id="LC116" class="line" lang="javascript">  <span class="kd">function</span> <span class="nx">expand</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC117" class="line" lang="javascript">    <span class="nx">e</span><span class="p">.</span><span class="nx">preventDefault</span><span class="p">();</span></span>
<span id="LC118" class="line" lang="javascript"></span>
<span id="LC119" class="line" lang="javascript">    <span class="kd">var</span> <span class="nb">self</span> <span class="o">=</span> <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">);</span></span>
<span id="LC120" class="line" lang="javascript"></span>
<span id="LC121" class="line" lang="javascript">    <span class="nx">getFold</span><span class="p">(</span><span class="nb">self</span><span class="p">).</span><span class="nx">show</span><span class="p">();</span></span>
<span id="LC122" class="line" lang="javascript">    <span class="nb">self</span><span class="p">.</span><span class="nx">html</span><span class="p">(</span><span class="s1">'&amp;laquo; less'</span><span class="p">);</span></span>
<span id="LC123" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC124" class="line" lang="javascript"></span>
<span id="LC125" class="line" lang="javascript">  <span class="kd">function</span> <span class="nx">contract</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC126" class="line" lang="javascript">    <span class="nx">e</span><span class="p">.</span><span class="nx">preventDefault</span><span class="p">();</span></span>
<span id="LC127" class="line" lang="javascript"></span>
<span id="LC128" class="line" lang="javascript">    <span class="kd">var</span> <span class="nb">self</span> <span class="o">=</span> <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">);</span></span>
<span id="LC129" class="line" lang="javascript"></span>
<span id="LC130" class="line" lang="javascript">    <span class="nx">getFold</span><span class="p">(</span><span class="nb">self</span><span class="p">).</span><span class="nx">hide</span><span class="p">();</span></span>
<span id="LC131" class="line" lang="javascript">    <span class="nb">self</span><span class="p">.</span><span class="nx">html</span><span class="p">(</span><span class="s1">'more &amp;raquo;'</span><span class="p">)</span></span>
<span id="LC132" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC133" class="line" lang="javascript"></span>
<span id="LC134" class="line" lang="javascript">  <span class="kd">function</span> <span class="nx">init</span><span class="p">()</span> <span class="p">{</span></span>
<span id="LC135" class="line" lang="javascript">    <span class="nx">$</span><span class="p">(</span><span class="s1">'a.read-more'</span><span class="p">).</span><span class="nx">toggle</span><span class="p">(</span><span class="nx">expand</span><span class="p">,</span> <span class="nx">contract</span><span class="p">);</span></span>
<span id="LC136" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC137" class="line" lang="javascript"></span>
<span id="LC138" class="line" lang="javascript">  <span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="nx">init</span><span class="p">);</span></span>
<span id="LC139" class="line" lang="javascript"><span class="p">})(</span><span class="nx">jQuery</span><span class="p">);</span></span>
<span id="LC140" class="line" lang="javascript"></span>
<span id="LC141" class="line" lang="javascript"><span class="c1">// evil regexes, from pygments</span></span>
<span id="LC142" class="line" lang="javascript"></span>
<span id="LC143" class="line" lang="javascript"><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">test</span><span class="p">(</span><span class="nx">foo</span><span class="p">)</span> <span class="o">||</span> <span class="nx">x</span> <span class="o">=</span> <span class="p">[</span><span class="sr">/regexp/</span><span class="p">,</span><span class="sr">/regexp/</span><span class="p">,</span> <span class="sr">/regexp/</span><span class="p">,</span> <span class="c1">// comment</span></span>
<span id="LC144" class="line" lang="javascript"><span class="c1">// comment</span></span>
<span id="LC145" class="line" lang="javascript"><span class="sr">/regexp/</span><span class="p">];</span></span>
<span id="LC146" class="line" lang="javascript"><span class="k">if</span> <span class="p">(</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">test</span><span class="p">(</span><span class="nx">string</span><span class="p">))</span></span>
<span id="LC147" class="line" lang="javascript"><span class="p">{</span><span class="o">/</span><span class="nx">regexp</span><span class="o">/</span><span class="p">.</span><span class="nx">test</span><span class="p">(</span><span class="nx">string</span><span class="p">);};</span></span>
<span id="LC148" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span><span class="sr">/regexp/</span><span class="p">;</span></span>
<span id="LC149" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="sr">/regexp/</span><span class="p">;</span></span>
<span id="LC150" class="line" lang="javascript"><span class="k">if</span> <span class="p">(</span><span class="mi">0</span><span class="o">&lt;</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">||</span> <span class="mi">1</span><span class="o">&gt;</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">))</span></span>
<span id="LC151" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="p">{</span> <span class="na">u</span><span class="p">:</span><span class="sr">/regexp/</span><span class="p">,</span> <span class="na">v</span><span class="p">:</span> <span class="sr">/regexp/</span> <span class="p">};</span></span>
<span id="LC152" class="line" lang="javascript"><span class="nx">foo</span><span class="p">();</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">test</span><span class="p">(</span><span class="nx">string</span><span class="p">);</span> <span class="sr">/regexp/</span><span class="p">.</span><span class="nx">test</span><span class="p">(</span><span class="nx">string</span><span class="p">);</span></span>
<span id="LC153" class="line" lang="javascript"><span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="sr">/regexp/</span><span class="p">)</span> <span class="nx">foobar</span><span class="p">();</span></span>
<span id="LC154" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="nx">u</span> <span class="o">%</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">*</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">/</span> <span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">);</span></span>
<span id="LC155" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="nx">u</span><span class="p">?</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="p">:</span> <span class="nx">v</span> <span class="o">+</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">-</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">);</span></span>
<span id="LC156" class="line" lang="javascript"><span class="nx">a</span> <span class="o">=</span> <span class="nx">u</span><span class="o">^</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">&amp;</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">|</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">)</span> <span class="o">+~</span><span class="sr">/regexp/</span><span class="p">.</span><span class="nx">exec</span><span class="p">(</span><span class="nx">string</span><span class="p">);</span></span>
<span id="LC157" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="sr">/regexp/</span> <span class="cm">/* a comment */</span> <span class="p">;</span></span>
<span id="LC158" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="sr">/</span><span class="se">[</span><span class="sr">reg</span><span class="se">/</span><span class="sr">exp</span><span class="se">]</span><span class="sr">/</span><span class="p">;</span></span>
<span id="LC159" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="mi">4</span><span class="o">/</span><span class="mi">2</span><span class="o">/</span><span class="nx">i</span><span class="p">;</span></span>
<span id="LC160" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="p">(</span><span class="nx">a</span> <span class="o">==</span> <span class="nx">b</span><span class="p">)</span> <span class="p">?</span><span class="cm">/* this is a comment */</span> <span class="nx">c</span> <span class="p">:</span> <span class="nx">d</span><span class="p">;</span></span>
<span id="LC161" class="line" lang="javascript"><span class="c1">/// a comment //</span></span>
<span id="LC162" class="line" lang="javascript"><span class="nx">a</span> <span class="o">=</span> <span class="sr">/regex/</span><span class="o">/</span><span class="mi">2</span><span class="o">/</span><span class="mi">1</span><span class="p">;</span> <span class="c1">//syntactically correct, returns NaN</span></span>
<span id="LC163" class="line" lang="javascript"></span>
<span id="LC164" class="line" lang="javascript"><span class="c1">// bad regexen - should have an error token at the last char and recover</span></span>
<span id="LC165" class="line" lang="javascript"><span class="c1">// on the next line</span></span>
<span id="LC166" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">a</span> <span class="o">=</span> <span class="sr">/foo</span><span class="err"></span></span>
<span id="LC167" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">b</span> <span class="o">=</span> <span class="sr">/</span><span class="se">[</span><span class="sr">foo</span><span class="err"></span></span>
<span id="LC168" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">c</span> <span class="o">=</span> <span class="sr">/valid-regex/</span></span>
<span id="LC169" class="line" lang="javascript"></span>
<span id="LC170" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">template</span> <span class="o">=</span> <span class="s2">"{{current}} of beer on the wall"</span><span class="p">;</span></span>
<span id="LC171" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">stanza</span> <span class="o">=</span> <span class="nx">template</span><span class="p">.</span><span class="nx">replace</span><span class="p">(</span><span class="sr">/{{current}}/g</span><span class="p">,</span> <span class="s2">"99 bottles"</span><span class="p">);</span></span>
<span id="LC172" class="line" lang="javascript"></span>
<span id="LC173" class="line" lang="javascript"><span class="cm">/* original examples */</span></span>
<span id="LC174" class="line" lang="javascript"></span>
<span id="LC175" class="line" lang="javascript"><span class="c1">// regex</span></span>
<span id="LC176" class="line" lang="javascript"></span>
<span id="LC177" class="line" lang="javascript"><span class="nx">blah</span><span class="p">(</span><span class="sr">/abc/</span><span class="p">);</span></span>
<span id="LC178" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="sr">/abc/</span><span class="p">;</span></span>
<span id="LC179" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="sr">/abc/</span><span class="p">.</span><span class="nx">match</span><span class="p">;</span></span>
<span id="LC180" class="line" lang="javascript"></span>
<span id="LC181" class="line" lang="javascript"><span class="c1">// math</span></span>
<span id="LC182" class="line" lang="javascript"></span>
<span id="LC183" class="line" lang="javascript"><span class="nx">blah</span><span class="p">(</span><span class="mi">1</span><span class="o">/</span><span class="mi">2</span><span class="p">);</span> <span class="c1">//comment</span></span>
<span id="LC184" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="mi">1</span> <span class="o">/</span> <span class="mi">2</span> <span class="o">/</span> <span class="mi">3</span><span class="p">;</span></span>
<span id="LC185" class="line" lang="javascript"><span class="nx">x</span> <span class="o">=</span> <span class="mi">1</span><span class="o">/</span><span class="mi">1</span><span class="o">/</span><span class="p">.</span><span class="mi">1</span><span class="p">;</span></span>
<span id="LC186" class="line" lang="javascript"></span>
<span id="LC187" class="line" lang="javascript"><span class="nx">x</span><span class="o">=</span><span class="sr">/1/</span><span class="p">;</span> <span class="c1">// regex</span></span>
<span id="LC188" class="line" lang="javascript"><span class="nx">x</span><span class="o">=</span><span class="mi">1</span><span class="o">/</span><span class="nx">a</span><span class="o">/</span><span class="nx">g</span><span class="p">;</span> <span class="c1">// division</span></span>
<span id="LC189" class="line" lang="javascript"><span class="nx">x</span><span class="o">=</span><span class="nx">a</span><span class="o">/</span><span class="nx">a</span><span class="o">/</span><span class="nx">g</span><span class="p">;</span> <span class="c1">// division</span></span>
<span id="LC190" class="line" lang="javascript"></span>
<span id="LC191" class="line" lang="javascript"><span class="c1">// real-world</span></span>
<span id="LC192" class="line" lang="javascript"></span>
<span id="LC193" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">x</span> <span class="o">=</span> <span class="mi">1</span><span class="o">/</span><span class="p">(</span><span class="mi">1</span><span class="o">+</span><span class="nb">Math</span><span class="p">.</span><span class="nx">sqrt</span><span class="p">(</span><span class="nx">sum</span><span class="p">));</span> <span class="c1">// convert to number between 1-0</span></span>
<span id="LC194" class="line" lang="javascript"><span class="k">return</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">round</span><span class="p">((</span><span class="nx">num</span> <span class="o">/</span> <span class="nx">den</span><span class="p">)</span> <span class="o">*</span> <span class="mi">100</span><span class="p">)</span><span class="o">/</span><span class="mi">100</span><span class="p">;</span></span>
<span id="LC195" class="line" lang="javascript"></span>
<span id="LC196" class="line" lang="javascript"><span class="c1">// generator</span></span>
<span id="LC197" class="line" lang="javascript"><span class="kd">function</span><span class="o">*</span> <span class="nx">range</span><span class="p">(</span><span class="k">from</span><span class="p">,</span> <span class="nx">to</span><span class="p">)</span></span>
<span id="LC198" class="line" lang="javascript"><span class="p">{</span></span>
<span id="LC199" class="line" lang="javascript">  <span class="nx">to</span><span class="o">++</span><span class="p">;</span></span>
<span id="LC200" class="line" lang="javascript">  <span class="k">while</span> <span class="p">(</span><span class="k">from</span> <span class="o">&gt;</span> <span class="nx">to</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC201" class="line" lang="javascript">    <span class="k">yield</span> <span class="k">from</span><span class="o">++</span><span class="p">;</span></span>
<span id="LC202" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC203" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC204" class="line" lang="javascript"></span>
<span id="LC205" class="line" lang="javascript"><span class="c1">// string interpolation</span></span>
<span id="LC206" class="line" lang="javascript"><span class="s2">`this is </span><span class="p">${</span><span class="s2">"sparta"</span><span class="p">.</span><span class="nx">toUpperCase</span><span class="p">()}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC207" class="line" lang="javascript"></span>
<span id="LC208" class="line" lang="javascript"><span class="c1">// nasty string interpolation</span></span>
<span id="LC209" class="line" lang="javascript"><span class="s2">`this\n \` \${2} $\` is\n </span><span class="p">${</span><span class="s2">"sparta"</span><span class="p">.</span><span class="nx">toUpperCase</span><span class="p">()</span> <span class="o">+</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span> <span class="k">return</span> <span class="mi">4</span><span class="p">;</span> <span class="p">}</span> <span class="o">+</span> <span class="s2">"h"</span><span class="p">}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC210" class="line" lang="javascript"><span class="s2">`hello </span><span class="p">${</span><span class="s2">"${re}"</span> <span class="o">+</span> <span class="s2">`curs</span><span class="p">${</span><span class="mi">1</span><span class="p">}</span><span class="s2">on`</span><span class="p">}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC211" class="line" lang="javascript"></span>
<span id="LC212" class="line" lang="javascript"><span class="s2">`$`</span><span class="p">;</span></span>
<span id="LC213" class="line" lang="javascript"><span class="s2">`$</span><span class="p">${</span><span class="mi">1</span> <span class="o">+</span> <span class="mi">2</span> <span class="o">+</span> <span class="mi">3</span><span class="p">}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC214" class="line" lang="javascript"></span>
<span id="LC215" class="line" lang="javascript"><span class="s2">`</span><span class="p">${</span></span>
<span id="LC216" class="line" lang="javascript">  <span class="s1">'multiline template'</span></span>
<span id="LC217" class="line" lang="javascript"><span class="p">}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC218" class="line" lang="javascript"><span class="s2">`</span><span class="p">${</span></span>
<span id="LC219" class="line" lang="javascript">  <span class="mi">1</span> <span class="o">+</span> <span class="mi">2</span></span>
<span id="LC220" class="line" lang="javascript"><span class="p">}</span><span class="s2">`</span><span class="p">;</span></span>
<span id="LC221" class="line" lang="javascript"></span>
<span id="LC222" class="line" lang="javascript"><span class="p">@(</span><span class="kd">function</span><span class="p">(</span><span class="nx">thing</span><span class="p">)</span> <span class="p">{</span> <span class="k">return</span> <span class="nx">thing</span><span class="p">;</span> <span class="p">})</span></span>
<span id="LC223" class="line" lang="javascript"><span class="kd">class</span> <span class="nx">Person</span> <span class="p">{</span></span>
<span id="LC224" class="line" lang="javascript">  <span class="p">@</span><span class="nd">deprecate</span></span>
<span id="LC225" class="line" lang="javascript">  <span class="nx">facepalm</span><span class="p">()</span> <span class="p">{}</span></span>
<span id="LC226" class="line" lang="javascript"></span>
<span id="LC227" class="line" lang="javascript">  <span class="p">@</span><span class="nd">deprecate</span><span class="p">(</span><span class="s1">'We stopped facepalming'</span><span class="p">)</span></span>
<span id="LC228" class="line" lang="javascript">  <span class="nx">facepalmHard</span><span class="p">()</span> <span class="p">{}</span></span>
<span id="LC229" class="line" lang="javascript"></span>
<span id="LC230" class="line" lang="javascript">  <span class="p">@</span><span class="nd">deprecate</span><span class="p">(</span><span class="s1">'We stopped facepalming'</span><span class="p">,</span> <span class="p">{</span> <span class="na">url</span><span class="p">:</span> <span class="s1">'http://knowyourmeme.com/memes/facepalm'</span> <span class="p">})</span></span>
<span id="LC231" class="line" lang="javascript">  <span class="nx">facepalmHarder</span><span class="p">()</span> <span class="p">{}</span></span>
<span id="LC232" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC233" class="line" lang="javascript"></span>
<span id="LC234" class="line" lang="javascript"><span class="c1">// ES6 module</span></span>
<span id="LC235" class="line" lang="javascript"><span class="k">import</span> <span class="o">*</span> <span class="k">as</span> <span class="nx">foo</span> <span class="k">from</span> <span class="s1">'foo'</span></span>
<span id="LC236" class="line" lang="javascript"><span class="k">import</span> <span class="p">{</span> <span class="nx">bar</span> <span class="k">as</span> <span class="nx">baz</span> <span class="p">}</span> <span class="k">from</span> <span class="s1">'bar'</span></span>
<span id="LC237" class="line" lang="javascript"><span class="k">export</span> <span class="o">*</span> <span class="k">from</span> <span class="s1">'baz'</span></span>
<span id="LC238" class="line" lang="javascript"><span class="k">export</span> <span class="kd">function</span> <span class="nx">hoge</span><span class="p">()</span> <span class="p">{}</span></span>
<span id="LC239" class="line" lang="javascript"><span class="k">export</span> <span class="kd">class</span> <span class="nx">fuga</span> <span class="kd">extends</span> <span class="nx">baz</span> <span class="p">{</span></span>
<span id="LC240" class="line" lang="javascript">  <span class="kd">constructor</span> <span class="p">()</span> <span class="p">{</span></span>
<span id="LC241" class="line" lang="javascript">    <span class="k">super</span><span class="p">()</span></span>
<span id="LC242" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC243" class="line" lang="javascript">  <span class="k">async</span> <span class="nx">doit</span> <span class="p">(</span><span class="nx">stuff</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC244" class="line" lang="javascript">    <span class="kr">await</span> <span class="nx">stuff</span><span class="p">()</span></span>
<span id="LC245" class="line" lang="javascript">    <span class="k">this</span><span class="p">.</span><span class="nx">dont</span><span class="p">(</span><span class="nx">stuff</span><span class="p">)</span></span>
<span id="LC246" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC247" class="line" lang="javascript">  <span class="nx">dont</span> <span class="p">(</span><span class="nx">stuff</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC248" class="line" lang="javascript">    <span class="k">return</span> <span class="kr">arguments</span><span class="p">.</span><span class="nx">length</span></span>
<span id="LC249" class="line" lang="javascript">  <span class="p">}</span></span>
<span id="LC250" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC251" class="line" lang="javascript"><span class="kr">eval</span><span class="p">(</span><span class="s1">'false'</span><span class="p">)</span></span>
<span id="LC252" class="line" lang="javascript"><span class="nb">global</span><span class="p">.</span><span class="nx">foo</span> <span class="o">=</span> <span class="p">{</span></span>
<span id="LC253" class="line" lang="javascript">  <span class="o">*</span> <span class="p">[</span><span class="nb">Symbol</span><span class="p">.</span><span class="nx">iterator</span><span class="p">]</span> <span class="p">()</span> <span class="p">{</span> <span class="k">return</span> <span class="p">}</span></span>
<span id="LC254" class="line" lang="javascript"><span class="p">}</span></span>
<span id="LC255" class="line" lang="javascript"><span class="k">for</span> <span class="p">(</span><span class="kd">const</span> <span class="nx">x</span> <span class="k">of</span> <span class="nb">global</span><span class="p">.</span><span class="nx">foo</span><span class="p">)</span> <span class="p">{}</span></span>
<span id="LC256" class="line" lang="javascript"></span>
<span id="LC257" class="line" lang="javascript"><span class="c1">// ES6 numbers</span></span>
<span id="LC258" class="line" lang="javascript"></span>
<span id="LC259" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myBin</span>   <span class="o">=</span> <span class="mb">0b10</span><span class="p">;</span></span>
<span id="LC260" class="line" lang="javascript"><span class="kd">var</span> <span class="nx">myOct</span>   <span class="o">=</span> <span class="mo">0o67</span><span class="p">;</span></span></code>
