.md table {
  margin: $markdown-table-margin;
  font-size: $markdown-table-font-size;
  line-height: $markdown-table-line-height;
  border: $markdown-table-border;

  th,
  td {
    padding: $markdown-table-padding;
    border: $markdown-table-border;
  }

  th {
    font-weight: $bold-base;
  }

  thead {
    background-color: $markdown-table-header-background;
  }
}
